.course__title {
	font-size: 140%;
	margin-bottom: 1rem;
}

.course__calendar {
	position: relative;
	right: 50px;
}

.course__description {
	font-size: 90%;
}

.course__date__background {
	align-items: center;
	background-image: url("../../images/irregular-paint-composed.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 200px;
	margin-top: 2rem;
	padding: 0 1rem;
}

.course__date {
	text-align: center;
	padding: 2rem 2rem 1rem 2rem;
	font-size: 80%;
	color: var(--yellow);
}

.course__date__title {
	font-family: var(--arvo);
	padding-bottom: .5rem;
	font-weight: 700;
}

.course__instructor {
	background-image: url("../../images/irregular-line.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	padding: 1rem;
}

.course__instructor__thumbnail {
	border-radius: 100%;
	height: 100px;
	object-fit: cover;
	width: 100px;
}

.course__instructor__name {
	font-family: var(--homemade-apple);
}

.course__instructor__team {
	font-size: 70%;
	font-weight: bolder;
	position: relative;
	top: -10px;
}

.course__instructor__descripcion {
	font-size: 90%;
}

.course__buttons {
	position: relative;
	bottom: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.course__presentation {
	width: 80vw;
}

/* Desktop view */
@media (min-width: 769px) {
	.course__wrapper {
		display: flex;
		justify-content: center;
	}

	.course__presentation {
		width: 60%;
	}

	.course__wrapper > aside {
		max-width: 300px;
		height: 100vh;
		background-image: url("../../images/irregular-line-variation.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 4rem;
	}

	.course__instructor__descripcion {
		width: 60%;
		margin: 0 auto;
	}
	.course__calendar {
		right: auto;
	}
	.course__buttons {
		bottom: 70px;
	}

	.course-list__button--small {
		width: 200px;
	}

	.course-list__button--small > .course-list__button__text {
		font-size: 70%;
		font-weight: 700;
	}

	.button--shape {
		width: 300px;
		font-size: 120%;
	}

	.small {
		padding-top: 1rem;
	}

	.small > span {
		font-size: 80%;
	}

	.button--shape:hover {
		font-size: 150%;
	}

	.container {
		margin: 0 auto;
	}
}
