.view-wrapper {
	width: 80%;
	margin: 0 auto;
}

.calendar-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
}

.calendar-wrapper__section {
	height: 70vh;
}

.calendar__button {
	color: white;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 90%;
	font-family: var(--homemade-apple);
}

.calendar__button--relative {
	position: relative;
	bottom: 100px;
	height: 200px;
	background-image: url(/static/media/irregular-line-yellow.7530c5cf.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.calendar__button:hover {
	color: gray;
}

.calendar__list {
	margin: 0 auto;
	list-style: none;
}

.calendar__list__item {
	font-size: 90%;
	padding-bottom: 1.5rem;
}

.calendar__list__item:hover {
	background-color: transparent;
	padding: .5rem;
	background-image: url("../../images/irregular-line-dark.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 20px;
	width: 100%;
	transition: all 0.5s ease;
}

.calendar__list__item__date {
	font-family: var(--arvo);
	color: var(--yellow);
	font-weight: 700;
	margin-right: .5rem;
	font-size: 90%;
}

.calendar__list__item__time {
	font-family: var(--open-sans);
	margin-left: .5rem;
	color: gray;
}

/* Calendar */
.Calendar {
	background: transparent;
	cursor: auto;
	margin: 0 auto;
}

.Calendar__header {
	display: none;
}

.Calendar__day {
	color: white;
	font-family: var(--arvo);
	cursor: auto;
}

.Calendar__day.-selected {
	background-color: var(--yellow);
	color: black;
	font-weight: 700;
}

.Calendar__day:not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween):not(.-selected):hover {
	background: transparent;
	color: white;
}

.holidays {
	color: grey;
}

@media (min-width: 798px) {
	.calendar__list {
		min-width: 500px;
		padding-left: 3rem;
	}

	.calendar-wrapper {
		flex-wrap: nowrap;
	}
}
