body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
	height: 100vh;
	width: 100vw;
}

:root {
	--yellow: #faee36;
	--arvo: 'Arvo', serif;
	--homemade-apple: 'Homemade Apple', cursive;
	--open-sans: 'Open Sans', sans-serif;
}

/* Display */
.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
