* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	font-family: var(--open-sans);
	min-height: calc(100vh - 12px);
}

main {
	box-sizing: border-box;
	height: 100vh;
	padding: 2rem;
	width: 100vw;
}

@media (min-width: 768px) {
	main {
		margin: 0 auto;
		max-width: 80%;
		padding-top: 5%;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
}

:root {
	--yellow: #faee36;
	--arvo: 'Arvo', serif;
	--homemade-apple: 'Homemade Apple', cursive;
	--open-sans: 'Open Sans', sans-serif;
}
